<div class="container-fluid">
    
<%= simple_form_for @host do |f| %>

 <%= f.input :firstname %>
 
 <%= f.input :lastname %>
 
 <%= f.input :email %>
 
 <%= f.input :companyname %>
 
  <%= f.input :state %>
  
 <%= f.input :suburb %>
 
 <%= f.input :notes %>
 
 <%= f.button :submit %>
<% end %>

</div>